html, body {
	height: 100%;
	margin: 0;
}

.navbar {
	transition: opacity .25s ease-in-out;
	position: absolute;
	width: 100%;
	background-color: #f2f2f2;
	z-index: 2147483647;
	opacity: 0.3;
}

.navbar:hover {
	transition: opacity .25s ease-in-out;
	opacity: 1;
}

/* Scrolling container. */
.frame {
	height: 100%;
	overflow: hidden;
	transform-style: preserve-3d;
}

/* Slidee inside of frame. */
.frame ul {
	list-style: none;
	height: 100%;
}

/* Individual item within slidee. */
.frame ul .item {
	float: left;
	width: 300px;
	height: 100%;
	display: block;

	padding: 0;
	margin: 0 5px 0 0;
}

/* Tweets within items. */
.frame ul .item div {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}

/* Scrolling. */
.scrollbar {
	height: 10px;
	background: #ccc;

	position: fixed;
    bottom: 10px;
    width: 100%;

    transition: opacity .25s ease-in-out;
    opacity: 0.2;
}

.scrollbar:hover {
	transition: opacity .25s ease-in-out;
    opacity: 1;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}

.scrollbar .handle .mousearea {
	position: absolute;
	left: 0;
	width: 100%;
	height: 20px;
}
